.POPOSSpace {
  /* Styles for the root element */
  width: 100%;
  text-align: center;
  position: relative;
  /* Styles for the root element */
}

.POPOSSpace img {
  /* Styles for the root element */
  width: 100%;
  height: auto;
}